<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Peserta</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Informasi Backend</h1>

    </div>

    <div class="table-responsive">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 21rem;">
                    <div class="card-body">
                        <h5 class="card-title">Backend Host Info</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="info : ${backendInfo}" th:text="${info.key + ':' + info.value}">Hostname</li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{/peserta/backend}" class="btn btn-primary">Refresh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>